*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.btn-login{
    background: #2cb575;
    border:none;
    display: none;
}

body{   
    background:url("fondo.jpg") no-repeat;
    background-size: cover;
    background-position-y: 13%;
}

.container-fluid{
    height: 657px;
    padding-top: 52px;
}

.container-child{
    min-height: 450px;
}

header{
    padding-top: 20px;
}

h1{
    color:#133164;
    font-size: 28px;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-family: 'Rubik';
}

h1::before, h1::after{
    content: '~';
    font-weight: bolder;
}

h1 span{
    text-decoration: 2px underline dashed #ff5f7e;
    text-underline-offset: 9px;
}

h3{
    font-size: 15px;
}

h4{
    font-size: 14.7px;
    line-height: 18px;
}

.container-child:first-child{
    background-color: #d8e4f8;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 100px;
    padding-right: 45px;
}

.container-child:first-child img{
    display: block;
    margin:auto;
    width: 290px;
}

.container-child:first-child h3{
    padding-top: 9px;
}

.container-child:last-child{
    background-color: #FFFFFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding:3px 30px 0px 38px;
}

.container-child:last-child header{
    text-align: center;
}

form{
    padding-top: 16px;
}

.form-label{
    color:#133164;
    font-weight: 500;
    font-size: 13.5px;
    width: 100%;
}

.required{
    padding-left: 9px;
    color:#1e94dd;
}

.form-control{
    background-color: #f5f9ff;
    border-radius: 25px;
    padding-left: 41px;
    height: 38px;
    width: 100%;
}

input[type="submit"]{
    width: 46%;
    height: 39px;
    border:21px;
    font-weight: 500;
    background-color: #4ec3ed;
    color:#ffffff;
    transition: linear 400ms;
}

input[type="submit"]:hover{
    background-color: #5a99af;
    color:#ffffff;
}

.link-login{
    color:#133164;
    font-size: 14px;
    font-weight: 500;
}

.link-login a {
    color:#4dc3fc;
    font-weight: 500;
}

.link-login a:hover {
    text-decoration: underline;
}

/* iconos */
i{
    color:#0b2a5e;
    font-size: 14px;
    position:absolute;
}

form i{
    margin-left:15px;
    margin-top: -26px;
}

/* media queries */
@media screen and (max-width:1109px) {    
.container-child:first-child{
    padding-top: 100px;
    padding-right: 5px;
}
}

@media screen and (max-width:1016px) {
    h1{
        font-size: 26px;
    }
    h3{
        font-size: 14.1px;
    }
    .form-label{
        font-size: 13.3px;
    }
    .form-control{
        font-size: 14.8px;
        height: 37.7px;
    }
}

@media screen and (max-width:941px){
    h1{
        font-size: 21.7px;
    }
    h3{
        font-size: 13.8px;
    }
    h4{
        font-size: 14.6px;
    }
    .container-child:last-child{
        padding:3px 25px 0px 27px;
    }   
    .form-label{
        font-size: 12.8px;
    }
    .form-control{
        font-size: 14.4px;
        height: 36.5px;
    }
   .container-child:first-child{
       padding-top: 130px;
   }
    .container-child:first-child img{
        width: 238px;
    }   
}

@media screen and (max-width:888px) {    
    h4{
        font-size: 12.9px;
    }
    .form-label{
        font-size: 12.5px;
    }
    .container-child:last-child{
        padding:3px 25px 0px 25px;
    }   
    form{
        padding-top: 8px;
    }
    input[type="submit"]{
        width: 70%;
        height: 37px;
    }
}   

@media screen and (min-width:768px) and (max-width:859px) {  
    .container-child:first-child{
        padding-top: 120px;
    }
     .container-child:first-child img{
         width: 202px;
     }
     h1{
         font-size: 19px;
     }
     h3{
         font-size: 13px;
     }
    h4{
        font-size: 12.9px;
    }   
    .container-child:last-child{
        padding:3px 18px 0px 18px;
    }
    .container-child:last-child header{
        padding-top: 7px;
    }
    form div:nth-child(-n+2){
        width: 100%;
    }
    .form-control{
        height: 34px;
    }
}

@media screen and (max-width:767px){
    header{
        padding-top: 0;
    }
    .container-fluid{
        padding-top: 0;
    }
    body{
        background: #d8e4f8;
     }
    .container-child:first-child, .container-child:last-child{
        border-radius: 0;
    }
    .container-child:first-child{
        padding-top: 40px;
        display: flex;
        flex-direction: column-reverse;
    }
    form div:nth-child(-n+2){
        width: 50%;
    }
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 16px;
        padding-top: 3px;
    }
    h4{
        font-size: 14.1px;
    }
    .container-child:first-child img{
        width: 300px;
    }
}

@media screen and (max-width:575px){
    form div:nth-child(-n+2){
        width: 100%;
    }
}

@media screen and (max-width:347px){    
    h1::before, h1::after{
        content: '';
    }
    .container-child:first-child img{
        width: 270px;
    }
    input[type="submit"]{
        width: 100%;
    }
}

@media screen and (max-width:309px){
    h1{
        font-size: 29px;
    }
    h3{
        font-size: 15px;
        padding-top: 11px !important;
    }
}

@media screen and (max-width:287px){
    h1{
        font-size: 27px;
    }
    .container-child:first-child img{
        width: 238px;
    }
}

@media screen and (max-width:268px){
    h1{
        font-size: 24px;
    }
    .container-child:first-child img{
        width: 235px;
    }
}

@media screen and (max-width:260px){
    .link-login{
        display: none !important;
    }
    .btn-login{
        display: block;
    }
}
