:root{
    --azul:#2D9BF0;
}

::placeholder {
  color:#8E8989;
  font-size: 15px;
  font-weight: bold;
}

*{
margin: 0px;
padding: 0px;
font-family: Verdana;
list-style: none;
text-decoration: none;
outline: none;
}

.main-container{
	width: 1120px;
	min-height: 550px;
	margin: 25px auto;
	border: solid 2px var(--azul);
}

header{
	margin: 15px auto;
	margin-left: 185px; 
	max-width: 930px;
	display: flex;
    align-items: center;
    justify-content: center;
}


header > h1{
	background-color: var(--azul);
	color: white;
	font-weight: bolder;
	font-size: 35px;
	padding: 30px;
	border-radius: 35px;
}

header > img {
padding-left: 16px;
height:170px;
}

/*Formulario area*/

.section-formulario{
	width: 990px;
	min-height: 300px;
	margin-top: 30px;
	margin-left: 70px;
	margin-bottom: 56px;
}

/*Formulario header*/
.form-header > select{
	background-color: white;
	border:solid 3px var(--azul);
	border-radius: 5px;
	color: #8E8989;
	font-size: 18px;
	padding: 10px;
	width: 215px;
	height: 50px;
}

.form-header > div  {
display: flex;
align-items: center;
margin-top: 36px;
}

.lista-tipo{
	display: flex;
}

.lista-tipo > li{
margin-left: 36px;
font-size: 20px;
color: var(--azul);
}

.form-header > div > h2 {
	background-color: var(--azul);
	padding: 11px;
	color: white;
	font-family: Verdana;
	font-weight: bold;
	width: 155px;
	text-align: center;
	border:1px solid yellow;
	letter-spacing: 1px;
}

input[type='radio'] {
   -webkit-appearance: none;
   width: 21px;
   height: 23px;
   border-radius: 50%;
   border: 2px solid var(--azul);
}

input[type='radio']:checked {
-webkit-appearance: auto;
}

/*Formulario body */

.form-body{
	min-height: 20px;
	width: 100%;
	margin-top: 35px;
	display:flex;
}

.form-first-column{
	width: 50%;
	min-height: 300px;
	margin-top: 13px;
}

.form-second-column{
width: 50%;
margin-left: 70px;
margin-top: 1px;
}

.form-piece-text {
	margin-top: 5px;
	max-width: 520px;
	min-height: 100px;
}


.form-label-first-column {
	margin-left: 104px;
	font-weight: bold;
}

.form-label-second-column {
	margin-left: 114px;
	font-weight: bold;
}

.obligatorio{
color:red;
}
 
.form-piece-text > div{
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.form-piece-text > div > img  {
height:42px;
}

input[type='text']{
height: 20px;
padding:9px;
font-size: 14px;
border: 3px solid var(--azul);	
border-radius: 5px;
font-weight: bold;
}

.form-first-column input[type='text'] {
width: 300px;
}

.form-second-column input[type='text'] {
width: 360px;
margin-left: 14px;
}

.form-textarea{
	border: 3px solid var(--azul);
	border-radius: 6px;
	width: 318px;
	height: 115px;
	font-weight: bold;
	font-size: 14px;
}

.form-textarea::placeholder{
 padding-top: 45px;
 padding-left: 08px;
}

input[type='text']:focus, .form-textarea:focus {
border: 3px solid #D64040;
}

.form-second-column div:first-child{
margin-left: 35px;
}

.form-second-column div:first-child > label{
margin-left:65px;
}

.form-second-column div:first-child input[type='file']{
border: 3px dashed var(--azul);
	padding: 16px;
	color: red;
	background-color: white;
	text-align: center;
	font-weight: bold;
	width: 286px;
	border-radius: 5px;
	cursor: pointer;
}

/*Formulario footer*/

.form-footer{
	margin-left: 56px;
}

.form-footer > *{
	display: block;
	margin-top: 19px;
	height: 50px;
	background-color: white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 25px;
	transition: 850ms;
}

#confirmar{
	border: 3px solid green;
	padding:5px;
    width: 85%;
    color: green;
}

#cancelar{
    border: 3px solid red;
	padding:5px;
    width: 50%;
    color:red;
    margin-left: 78px;
}

#confirmar:hover{
	background-color: green;
    color:white;
}

#cancelar:hover{
	background-color: red;
    color:white;
}
